<footer id="footer">
  <div class="col-xs-12 newsletter-signup">
    <legend><h2 class="reveal">We might be coming to a city near you - let us keep you up to date.</h2></legend>
  <form class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="newsletter-name">Name</label>
      <input type="text" class="form-control" id="newsletter-name" placeholder="Email">
    </div>
    <div class="form-group">
      <label class="sr-only" for="newsletter-email">Email</label>
      <input type="email" class="form-control" id="newsletter-email" placeholder="Name">
    </div>
    <button type="submit" class="btn btn-newsletter-signup">Submit</button>
  </form>
  </div>
  <div class="container-fluid inside">
        <div class="col-xs-12 speaker-social">
          <a href="https://instagram.com/standoutphotoforum"><i class="fa fa-instagram fa-lg"></i></a>
          <a href="https://twitter.com/standoutphotof"><i class="fa fa-twitter fa-lg"></i></a>
          <a href="https://vimeo.com/standoutphotoforum"><i class="fa fa-vimeo fa-lg"></i></a>
        </div>
    </div>
</footer>
